:root {
    --color-primary: hsl(233, 26%, 24%);
    --color-secondary: hsl(136, 65%, 51%);
    --color-tertiary: hsl(192, 70%, 51%);

    --color-grey-1: hsl(0, 0%, 98%);
    --color-grey-2: hsl(220, 16%, 96%);
    --color-grey-3: hsl(233, 8%, 62%);

    --color-white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; // 1 rem = 9px, 8/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; // 1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1 rem = 12px, 12/16
    }
}



body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: var(--color-primary);
    overflow-x: hidden;
}

