.header {
    position: relative;
    height: 100vh;
    background-color: var(--color-grey-2);

    &__svg {
        position: absolute;
        top: -30%;
        left: 39%;
    }

    &__content {
        display: flex;
    }

    &__photos {
        z-index: 10;
        transform: translateX(13rem) translateY(-12rem);
    }

    &__text {
        margin-right: auto;
        margin-top: 15rem;
        margin-left: 11rem;
    }
}

.section-about {
    background-color: var(--color-grey-1);
    position: relative;
    z-index: 5;
    padding: 11rem;
}

.section-blog {
    padding: 9rem;
    background-color: var(--color-grey-2);
}